In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
headers= {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2',headers=headers).text

In [8]:
soup=BeautifulSoup(webpage,'lxml')

In [18]:
li=[]
for i in range(30):
    li.append(soup.find_all('h2')[i].text.strip())
    
print(li)

['IndusInd Bank', 'Ernst & Young', 'DXC Technology', 'Hinduja Global S...', 'Infosys BPM', 'Maruti Suzuki', 'IDFC FIRST Bank', 'HSBC', 'Bajaj Finserv', 'Ericsson', 'Conneqt Business...', 'Mphasis', 'Startek', "Dr. Reddy's", 'Sutherland Globa...', 'Cipla Pharmaceut...', 'Yes Bank', 'Udaan', 'Jana Small Finan...', 'Asian Paints', 'NTT DATA', 'ICICI Prudential...', 'HDFC Life', 'Lupin', 'HCL Group', 'PwC', 'EXL Service', 'iEnergizer', 'L&T Infotech', 'Indian Army']

In [21]:
company=soup.find_all('div',class_=('company-content'))

In [22]:
len(company)

30

In [58]:
import numpy as np

In [71]:
name=[]
rating=[]
reviews=[]
typen=[]
loc=[]

empl=[]
for i in comapny:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('p').text.strip())
    reviews.append(i.find('a',class_=('review-count')).text.strip())
    typen.append(i.find_all('p',class_=('infoEntity'))[0].text.strip())
    
    try:
        loc.append(i.find_all('p',class_=('infoEntity'))[1].text.strip())
        empl.append(i.find_all('p',class_=('infoEntity'))[3].text.strip())
    except:
        
        loc.append(np.nan)
        empl.append(np.nan)
        
d= {'name':name,'rating':rating,'reviews':reviews,'typen':typen,'empl':empl}
   
final=pd.DataFrame(d)

 
final

,name,rating,reviews,typen,empl
0,IndusInd Bank,3.8,(6.6k Reviews),Public,10k-50k Employees (India)
1,Ernst & Young,3.8,(6.3k Reviews),Private,10k-50k Employees (India)
2,DXC Technology,3.9,(7k Reviews),Public,10k-50k Employees (India)
3,Hinduja Global S...,4.0,(6k Reviews),Public,10k-50k Employees (India)
4,Infosys BPM,4.0,(5.8k Reviews),"Bangalore/Bengaluru,Karnataka + 48 more",NaN
5,Maruti Suzuki,4.2,(5.8k Reviews),Public,10k-50k Employees (India)
6,IDFC FIRST Bank,4.0,(5.3k Reviews),Public,10k-50k Employees (India)
7,HSBC,4.1,(5.7k Reviews),Private,1k-5k Employees (India)
8,Bajaj Finserv,4.0,(5.2k Reviews),Public,10k-50k Employees (India)
9,Ericsson,4.3,(5.3k Reviews),Private,10k-50k Employees (India)
10,Conneqt Business...,3.7,(5.1k Reviews),Private,10k-50k Employees (India)
11,Mphasis,3.7,(4.8k Reviews),Public,10k-50k Employees (India)
12,Startek,3.4,(4.8k Reviews),Public,10k-50k Employees (India)
13,Dr. Reddy's,4.2,(4.8k Reviews),Public,10k-50k Employees (India)
14,Sutherland Globa...,3.8,(5k Reviews),Private,10k-50k Employees (India)
15,Cipla Pharmaceut...,4.1,(4.7k Reviews),Public,10k-50k Employees (India)
16,Yes Bank,4.0,(4.5k Reviews),Public,10k-50k Employees (India)
17,Udaan,4.1,(4.5k Reviews),Private,1k-5k Employees (India)
18,Jana Small Finan...,3.8,(4.5k Reviews),Public,10k-50k Employees (India)
19,Asian Paints,4.2,(4.7k Reviews),Public,10k-50k Employees (India)
20,NTT DATA,4.0,(4.6k Reviews),Private,10k-50k Employees (India)
21,ICICI Prudential...,4.1,(4.3k Reviews),Public,10k-50k Employees (India)
22,HDFC Life,4.1,(5.6k Reviews),Public,10k-50k Employees (India)
23,Lupin,4.1,(4.3k Reviews),Public,10k-50k Employees (India)
24,HCL Group,3.8,(24.2k Reviews),Chennai + 68 more,NaN
25,PwC,3.8,(4.2k Reviews),Partnership,10k-50k Employees (India)
26,EXL Service,3.9,(5.3k Reviews),Private,10k-50k Employees (India)
27,iEnergizer,4.2,(4.1k Reviews),Private,10k-50k Employees (India)
28,L&T Infotech,3.8,(4k Reviews),Public,10k-50k Employees (India)
29,Indian Army,4.7,(4k Reviews),Public,1 Lakh+ Employees (India)